---
# bugprone-easily-swappable-parameters -- Loud with no clear advice on how to fix the potential problem
# cert-msc30-c
# cert-msc50-cpp
# cert-msc50-cpp
# clang-analyzer-security.insecureAPI.rand -- Warning about poor random algorithm, alternative limits portability
Checks: >
  cppcoreguidelines-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-*,
  portability-*,
  performance-*,
  modernize-*,
  bugprone-*,
  hicpp-*,
  cert-*,
  misc-*,
  google-*,
  -bugprone-easily-swappable-parameters,
  -modernize-macro-to-enum,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -clang-analyzer-security.insecureAPI.rand
WarningsAsErrors: true
HeaderFilterRegex: >
  "(src/headers).*\\.h$"
CheckOptions:
  - key:   readability-identifier-length.IgnoredParameterNames
    value:   'i|j|k|a|b|n|v|p|r|c|A|B'
  - key:   readability-identifier-length.IgnoredVariableNames
    value:   'rc|m'
  - key:   google-readability-braces-around-statements.ShortStatementLines
    value:   3
  - key:   hicpp-braces-around-statements.ShortStatementLines
    value:   3
  - key:   readability-braces-around-statements.ShortStatementLines
    value:   3
  - key:   readability-identifier-naming.GlobalFunctionCase
    value:   lower_case
  - key:   readability-identifier-naming.FunctionCase
    value:   lower_case
  - key:   readability-identifier-naming.LocalVariableCase
    value:   lower_case
...
